<!DOCTYPE html>
<html>
  <%- include('head_includes.ejs'); -%>
  <body>
    <%- include('navigation_bar.ejs'); -%>
    <main>
    <div class="mainDiv">
    <div>
      <h1><%= title %></h1>
    </div>
  </div>
  <form class="create_company_product-form" action="/create_company_product" method="post" enctype="multipart/form-data">
  <div class="innerDiv">
    <div class="boxDiv_create_product_company">
        <p class="p_Title">Produktnummer:</p>
        <input class="custom_input" type="number" name="Product_number" placeholder="Produktnummer" required>
    </div>
</div>
<div class="innerDiv">
  <div class="boxDiv_create_product_company">
      <p class="p_Title">Produkt:</p>
      <select name="Company_product" id="company_product">
          <option>Vælg produkt</option>
          <!-- Loop start -->  
          <% getAllProducts.forEach(function(getAllProducts) { %> 
          <option value="<%= getAllProducts.title %>"><%= getAllProducts.title %></option>
          <% }); %>
          <!-- Loop end -->  
        </select>
  </div>
</div>
<div class="innerDiv">
  <div class="boxDiv_create_product_company_date">
      <p class="p_Title">Oprettet:</p>
      <input type="date" name="Product_created" placeholder="Produktnummer" required>
  </div>
  <div class="boxDiv_create_product_company">
      <p class="p_Title">Næste service tjek:</p>
      <input type="date" name="Service_check" required>
  </div>
</div>
<div class="innerDiv">
  <div class="boxDiv_create_product_company">
      <p class="p_Title">Billedet:</p>
      <input class="custom_input" type="file" name="Product_file" placeholder="indsæt billedet" required>
      <input hidden class="custom_input" type="text" name="Contenttype" placeholder="Beskriv typen: eks: image/png" maxlength="32" minlength="6">
  </div>
</div>  
    <div class="innerDiv">
        <div class="div_button_create_product_company">
            <button type="submit">opret produkt</button>
            <a class="button_add_company_to_dashboard_cancel" href="/dashboard_company/<%= cvr.cvr %>" >fortryd</a>
            <input type="number" name="cvr" placeholder="CVR nummer" value="<%= cvr.cvr %>" hidden>
        </div>
    </div>
  </form>
</main>
  </body>
  <script src="../public/javascripts/file_helper.js"></script>
</html>