<!DOCTYPE html>
<html>
  <%- include('head_includes.ejs'); -%>
  <body>
    <%- include('navigation_bar.ejs'); -%>
    <main>
    <div class="mainDiv">
    <div>
      <h1><%= title %></h1>
    </div>
  </div>
  <form class="create_company-form" action="/create_company" method="post">
    <div class="innerDiv">
        <div class="boxDiv_create_company">
            <p class="p_Title">Navn:</p>
            <input class="custom_input" type="text" name="company_name" placeholder="Firma navn" required>
        </div>
    </div>
    <div class="innerDiv">
        <div class="boxDiv_create_company">
            <p class="p_Title">CVR:</p>
            <input class="custom_input" type="number" name="cvr" placeholder="CVR nummer" required>
        </div>
    </div>
    <div class="innerDiv">
        <div class="boxDiv_create_company">
            <p class="p_Title">Ansvarlig i firmaet:</p>
             <!-- Loop start -->
            <select name="responsible_person" id="responsible_person">
                <option>Vælg</option>
                <% brugereErhverv.forEach(function(brugereErhverv) { %> 
                <option value="<%= brugereErhverv.email %>">Email: <%= brugereErhverv.email %> Cvr: <%= brugereErhverv.cvr %></option>
                <% }); %>
                <!-- Loop end -->  
              </select>
        </div>
    </div>
    <div class="innerDiv">
        <div class="boxDiv_create_company">
            <p class="p_Title">Teknikker:</p>
            <input class="custom_input" type="number" name="techniques" placeholder="Nummer på teknikker" required>
        </div>
    </div>
    <div class="innerDiv">
        <div class="div_button_create_company">
            <button type="submit">opret firma</button>
            <a class="button_add_company_dashboard_cancel" href="/dashboard" >fortryd</a>
        </div>
    </div>
    </form>
</main>
  </body>
</html>