<!DOCTYPE html>
<html>
  <%- include('head_includes.ejs'); -%>
  <body>
    <%- include('navigation_bar.ejs'); -%>
    <main>
    <div class="mainDiv">
    <div>
      <h1><%= title %></h1>
    </div>
  </div>
  <div class="innerDiv">
    <% if (locals.success) { %>
       <p class="p_Title_success"><%= success %></p>
       <% } %>
   </div>
  <div class="innerDiv">
    <div class="boxDiv_product_view" style="width: 80%;">
    <select name="product" id="product">
        <option>Udendørs vandpost</option>
      </select>
      </div>
      <div class="boxDiv_product_view">
        <a class="button_add_product" href="/create_product_water_supply" >Tilføj</a>
    </div>
   </div> 
   
  <div class="table-responsive">
    <table class="table">
        <tr>
            <th>Billedet</th>
            <th>Titel</th>
            <th>Beskrivelse</th>
            <th>Kategori</th>
            <th></th>
            <th></th>
        </tr>
        <% if (!getAllProducts.locals) { %>
           <!-- Loop start -->
           <% getAllProducts.forEach(function(getAllProducts) { %> 
        <tr>
            <td> <img class="img_picture"src="data:<%= getAllProducts.contenttype %>;base64,<%= getAllProducts.billedet.toString('base64') %>"></td>
            <td><%= getAllProducts.title %></td>
            <td><%= getAllProducts.beskrivelse %></td>
            <td><%= getAllProducts.kategori %></td>
            <td><a href="/product_panel/updateproduct/<%= getAllProducts.id %>"class="product_update_panel" title="opdatere produkt">Opdatere</a></td>
            <td><button type="submit" class="admin_delete" title="fjern bruger" onclick="deleteUser('<%= getAllProducts.id %>')">Fjern</button></td>
            <!-- <td><a class="product_delete_panel" title="fjern produkt">Fjern</a></td> -->
        </tr>
        <% }); %>
        <!-- Loop end -->  
        <% } %>

    </table>
  
  </div>
</main>
  </body>
</html>