<!DOCTYPE html>
<html>
  <%- include('head_includes.ejs'); -%>
  <body>
    <%- include('navigation_bar.ejs'); -%>
    <main>
    <div class="mainDiv">
    <div>
      <h1><%= title %></h1>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
        <tr>
            <th>Navn</th>
            <th>E-mail</th>
            <th>Telefonnummer</th>
            <th>Status</th>
            <th></th>
        </tr>
          <!-- Loop start -->
        <% brugere.forEach(function(brugere) { %> 
        <tr>
            <td><%= brugere.navn %></td>  
            <td><%= brugere.email %></td>
            <td><%= brugere.telefonnummer %></td>
            <% if (brugere.rolle == "admin") { %>
            <td></td>
            <td></td>
            <% } else { %>
              <% if (user.rolle == "admin") { %>
                <% if (brugere.status_bruger == "aktiv") { %>
                  <td><a href="/user_panel/update/usernotactive/<%= brugere.id %>" class="admin_active" title="deaktivere bruger">Aktiv</a></td>
                <% } else { %>
                 <td><a href="/user_panel/update/useractive/<%= brugere.id %>" class="admin_notactive" title="aktiver bruger">Deaktiveret</a></td>
                <% } %>
              <td><button type="submit" class="admin_delete" title="fjern bruger" onclick="deleteUser('<%= brugere.id %>')">Fjern</button></td>
              <% } else { %>
                <td><%= brugere.status_bruger %></td>
                <td></td>
              <% } %>
            <% } %>

        </tr>
        <% }); %>
        <!-- Loop end -->  
    </table>
  
  </div>
</main>
  </body>
</html>